body {
    color: $black;
    line-height: 24px;
}

.container {
    max-width: 1366px;
    margin: 100%;
    margin: auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    @include size-32;
    @include pad {
        @include size-28;
    }
}

h3 {
    font-weight: bold;
}

button {
    @include button;
}

.header-top {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.price-top {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.header {
    position: relative;
    margin-bottom: $mb-100;
    @include pad {
        background-image: none;
    }
    @include phone {
        margin-bottom: 60px;
    }
    
    .navbar {
        margin-bottom: 30px;
        @include pad {
            background-color: #fff;
            border-bottom: 2px solid #FFD153;
            margin-bottom: 32px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
            @include pad {
                padding-top: 8px;
                padding-bottom: 8px;
            }

            img {
                height: 40px;
                @include pad {
                    height: 24px;
                }
            }

            a {
                display: inline-block;
                color: #fff;
                line-height: 24px;
                background-color: #FF5D50;
                border-radius: 22px;
                padding: 8px 32px;
            }
        }
    }

    .home {
        .container {
            display: flex;
            padding-bottom: 117px;
            @include phone {
                flex-direction: column;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                @include phone {
                    width: 100%;
                }

                h1 {
                    color: $green;
                    font-weight: bold;
                    margin-bottom: 8px;
                    @include pad {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                p {
                    &:first-of-type {
                        font-size: 48px;
                        line-height: 70px;
                        font-weight: bold;
                        margin-bottom: 16px;
                        @include pad {
                            @include size-32;
                        }
                    }

                    font-size: 20px;
                    line-height: 29px;
                    @include pad {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .info-img {
                width: 50%;
                @include pad {
                    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
                    background-repeat: no-repeat;
                    background-position: bottom;
                    background-size: contain;
                }
                @include phone {
                    width: 100%;
                }
            }
        }
    }

    .intro {
        h1 {
            font-size: 48px;
            line-height: 70px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        p {
            padding-bottom: 180px;
        }
    }

    &.header-background {
        background-color: #F7F9FD;
        border-bottom-left-radius: 300px;
    }

    // .price-img {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    // }
}

.main {
    margin-bottom: $mb-100;
    @include phone {
        margin-bottom: 60px;
    }
    @include phone {
        margin-bottom: 94px;
    }

    .platforms {
        text-align: center;
        margin-bottom: $mb-100;
        @include phone {
            margin-bottom: 60px;
        }
        
        h2 {
            margin-bottom: 48px;
            @include pad {
                margin-bottom: 32px;
            }
        }

        .platform-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .platform-card {
                width: 33%;

                @include phone {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 24px;

                    @include pad {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 16px;
                    }
                }
                
                h3 {
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 24px;
                    @include pad {
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 16px;
                    }
                }

                p {
                    color: #747474;
                }
            }
        }
    }

    .target {
        text-align: center;
        margin-bottom: $mb-100;
        @include phone {
            margin-bottom: 60px;
        }

        h2 {
            margin-bottom: 16px;
        }

        .target-info {
            font-size: 20px;
            line-height: 29px;
            margin-bottom: 48px;
            @include pad {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 32px;
            }
        }

        .characters {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            gap: 16px;
            @include pad {
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
            }
            @include phone {
                grid-template-columns: 80%
            }

            .character {
                @include card;
                overflow: hidden;

                img {
                    vertical-align: bottom;
                    margin-bottom: 16px;
                }

                h3 {
                    color: $green;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 16px;
                }

                p {
                    margin-bottom: 24px;
                }
            }
        }
    }

    .service {
        margin-bottom: $mb-100;
        @include phone {
            margin-bottom: 60px;
        }

        .service-content {
            display: flex;
            @include pad {
                flex-direction: column-reverse;
            }

            .service-cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                width: 50%;
                gap: 28px 47px;
                @include pad {
                    width: 100%;
                    gap: 24px
                }
                @include phone {
                    grid-template-columns: 80%;

                    .order {
                        order: 1;
                    }
                }
                
                .service-card {
                    @include card;
                    padding: 32px 32px 48px;
                    @include pad {
                        padding: 32px 41px 48px 24px;
                    }

                    .image-container {
                        width: 86px;
                        height: 86px;
                        border-radius: 50%;
                        box-shadow: 0 2px 10px #00000014;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-bottom: 24px;
                    }

                    .arrow {
                        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon01.svg);
                    }
                    
                    .robot {
                        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon02.svg);
                    }
                    
                    .message{
                        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon03.svg);
                    }
                    
                    .group-message {
                        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon04.svg);
                    }

                    h3 {
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 16px;
                        @include pad {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            .service-info {
                margin: auto;
                @include pad {
                    text-align: center;
                    margin-bottom: 32px;
                }

                h2 {
                    margin-bottom: 16px;
                }

                p {
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 24px;
                    @include pad {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }

    .testimonials {
        h2 {
            text-align: center;
            margin-bottom: 48px;
            @include pad {
                margin-bottom: 32px;
            }
        }

        .testimonial-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            line-height: 24px;
            @include pad {
                grid-template-columns: repeat(1, 1fr);
            }

            .testimonial-card {
                display: flex;
                position: relative;

                & + .testimonial-card{
                    @include pad {
                        display: none;
                    }
                }

                & > img {
                    position: absolute;
                    top: 0;
                    left: 32px;
                    width: 80px;
                    border-radius: 50%;
                }

                .card-info {
                    @include card;
                    margin-top: 56px;
                    padding: 0px 32px;
                    @include pad {
                        padding: 0 16px;
                    }

                    .client-txt {
                        margin: 48px 0 24px;
                    }

                    hr {
                        color: #DDDDDD;
                        margin-bottom: 24px;
                    }

                    .client {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 24px;
                        @include pad {
                            margin-bottom: 16px;
                        }

                        .client-info {
                            p:first-of-type {
                                font-weight: bold;
                                margin-bottom: 8px;
                            }
                        }

                        .client-rating {
                            align-self: flex-end;

                            img {
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .price {
        margin-bottom: $mb-100;
        @include pad {
            margin-bottom: 60px;
        }

        h2 {
            margin-bottom: 48px;
            @include pad {
                margin-bottom: 24px;
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;
            margin-bottom: 48px;
            @include pad {
                margin-bottom: 32px;
            }
            
            button {
                background-color: #fff;
                color: $green;
    
                &.active {
                    background-color: $green; 
                    color: #fff;
                }
            }
        }

        .editions {
            // display: flex;
            max-width: 909px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
            gap: 21px;
            @include pad {
                grid-template-columns: 1fr;
            }
    
            .edition {
                border-radius: 12px;
                box-shadow: 0 2px 10px #00000014;
                
                h3 {
                    margin-top: 10px;
                    font-size: 24px;
                    line-height: 35px;
                    text-align: center;
                    @include pad {
                        margin-top: 16px;
                    }
                }
    
                .line {
                    width: 100%;
                    border-bottom: 1px solid #DDDDDD;
                    margin: 16px 0 32px;
                }

                .edition-bottom {
                    display: flex;
                    flex-direction: column;
                    padding: 0 24px;
                    @include pad {
                        padding: 0 16px;
                    }

                    .edition-info {
                        text-align: center;
                        margin-bottom: 32px;
                        @include pad {
                            margin-bottom: 24px;
                        }
                    }

                    .calculation {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 32px;
                        gap: 21px;
                        @include pad {
                            margin-bottom: 24px;
                            gap: 6px;
                        }
        
                        .calculation-corner {
                            width: 40%;
                            background-color: #F5F5F5;
                            border-radius: 12px;
                            padding: 24px 0;
                            text-align: center;
                            font-size: 12px;
                            line-height: 17px;
                            @include pad {
                                padding: 16px 0;
                            }
        
                            .calculation-result {
                                color: $green;
        
                                span {
                                    font-size: $fz-32;
                                    line-height: 35px;
                                    margin-right: 8px;
                                    @include pad {
                                        font-size: 28px;
                                        line-height: 32px;
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                    }
        
                    .functions {
                        margin-bottom: 32px;
                        @include pad {
                            margin-bottom: 24px;
                        }
        
                        li {
                            display: flex;
                            margin-bottom: 16px;
                            
                            .check {
                                display: flex;
                                align-items: center;
                                height: 16px;
                                margin-right: 13px;
                                @include pad {
                                    height: 14px;
                                    margin-right: 16px;
                                }
                            }
                        }
                    }
        
                    button {
                        margin: auto;
                        margin-bottom: 32px;
                    }
                }
            }
        } 
    }

    .question {
        margin-bottom: $mb-100;
        @include pad {
            margin-bottom: 60px;
        }

        h2 {
            margin-bottom: 48px;
            @include pad {
                margin-bottom: 32px;
            }
        }
    
        .question-box {
            max-width: 904px;
            border-radius: 12px;
            box-shadow: 0 2px 10px #00000014;
            padding: 16px 32px;
            margin: 0 auto 16px;
            cursor: pointer;
    
            .question-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                line-height: 28px;
            }
    
            .answer {
                display: none;
                color: #747474;
                line-height: 32px;
                margin-top: 24px;
                margin-bottom: 16px;
            }
    
            &.active {
                .question-title {
                    color: $green;
                }
                
                .answer {
                    // display: block;
                }
            }
        }
    }
}

.footer {
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        @include phone {
            background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
        }

        p {
            @include size-32;
            margin: 260px 0 48px;
            @include phone {
                font-size: 24px;
                line-height: 35px;
                margin: 293px 0 24px;
            }
        }

        button {
            margin-bottom: $mb-100;
            @include phone {
                margin-bottom: 72px;
            }
        }
    }

    .bottom {
        padding: 16px 0;
        background-color: #F5F5F5;
        text-align: center;
    }
}