@mixin size-32 {
    font-size: $fz-32;
    line-height: $lh-46;
    font-weight: bold;
}

@mixin size-28 {
    font-size: $fz-28;
    line-height: $lh-40;
    font-weight: bold;
}

@mixin card {
    border-radius: 12px;
    box-shadow: 0 2px 10px #00000014;
}

@mixin button {
    font-size: 18px;
    line-height: 26px;
    padding: 12px 32px;
    color: #FFF;
    background-color: $green;
    border: 1px solid $green;
    border-radius: 27px;
    cursor: pointer;
}

@mixin pad {
    @media(max-width: 992px) {
        @content;
    }
}

@mixin phone {
    @media(max-width: 576px) {
        @content;
    }
}