/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #221E1F;
  line-height: 24px;
}

.background-circle {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  background-size: 25%, 20vw, 150px;
  background-position-x: -15vw, 85vw, 0.5vw;
  background-position-y: 700px, 50%, 76%;
}

@media (max-width: 992px) {
  .background-circle {
    background-position-y: 600px, 50%, 80%;
  }
}

@media (max-width: 576px) {
  .background-circle {
    background-position-y: 800px, 58%, 87%;
  }
}

.container {
  max-width: 1366px;
  margin: 100%;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .container {
    max-width: 756px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 345px;
  }
}

h2 {
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
}

@media (max-width: 992px) {
  h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
  }
}

h3 {
  font-weight: bold;
}

button {
  font-size: 18px;
  line-height: 26px;
  padding: 12px 32px;
  color: #FFF;
  background-color: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  cursor: pointer;
}

.top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 26px;
  bottom: 26px;
  background-color: #56C4C5;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
}

.header-top {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

@media (max-width: 992px) {
  .header-top {
    background-image: none;
  }
}

.price-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 992px) {
  .price-img {
    display: none;
  }
}

.header {
  position: relative;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .header {
    margin-bottom: 60px;
  }
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 24px 20px;
}

@media (max-width: 992px) {
  .header .navbar {
    background-color: #fff;
    border-bottom: 2px solid #FFD153;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header .navbar img {
  height: 40px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .header .navbar img {
    height: 24px;
  }
}

.header .navbar .red-button {
  display: inline-block;
  color: #fff;
  line-height: 24px;
  background-color: #FF5D50;
  border-radius: 22px;
  padding: 8px 32px;
  text-decoration: none;
}

.header .home {
  padding-top: 30px;
}

@media (max-width: 992px) {
  .header .home {
    padding-top: 32px;
  }
}

.header .home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 117px;
}

@media (max-width: 576px) {
  .header .home .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .home .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

@media (max-width: 576px) {
  .header .home .container .info {
    width: 100%;
  }
}

.header .home .container .info h1 {
  color: #56C4C5;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .header .home .container .info h1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.header .home .container .info p {
  font-size: 20px;
  line-height: 29px;
}

.header .home .container .info p:first-of-type {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .header .home .container .info p:first-of-type {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .header .home .container .info p {
    font-size: 16px;
    line-height: 24px;
  }
}

.header .home .container .info-img {
  width: 50%;
}

@media (max-width: 992px) {
  .header .home .container .info-img {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

@media (max-width: 576px) {
  .header .home .container .info-img {
    width: 100%;
  }
}

.header .intro {
  padding-top: 92px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}

@media (max-width: 992px) {
  .header .intro {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner_sm.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
  }
}

@media (max-width: 576px) {
  .header .intro {
    padding-top: 48px;
  }
}

.header .intro h1 {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .header .intro h1 {
    font-size: 32px;
    line-height: 42px;
  }
}

.header .intro p {
  padding-bottom: 180px;
}

@media (max-width: 576px) {
  .header .intro p {
    padding-bottom: 361px;
  }
}

.header.header-background {
  background-color: #F7F9FD;
  border-bottom-left-radius: 300px;
}

.main {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main {
    margin-bottom: 60px;
  }
}

.main .platforms {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main .platforms {
    margin-bottom: 60px;
  }
}

.main .platforms h2 {
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .platforms h2 {
    margin-bottom: 32px;
  }
}

.main .platforms .platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .platforms .platform-list .platform-card {
  width: 30%;
}

@media (max-width: 576px) {
  .main .platforms .platform-list .platform-card {
    width: 100%;
    margin-bottom: 24px;
  }
}

.main .platforms .platform-list .platform-card img {
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .main .platforms .platform-list .platform-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }
}

.main .platforms .platform-list .platform-card h3 {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .main .platforms .platform-list .platform-card h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
  }
}

.main .platforms .platform-list .platform-card p {
  color: #747474;
}

.main .target {
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main .target {
    margin-bottom: 60px;
  }
}

.main .target h2 {
  margin-bottom: 16px;
}

.main .target .target-info {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .target .target-info {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.main .target .characters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

@media (max-width: 992px) {
  .main .target .characters {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 576px) {
  .main .target .characters {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.main .target .characters .character {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  background-color: #fff;
  overflow: hidden;
}

.main .target .characters .character img {
  vertical-align: bottom;
  margin-bottom: 16px;
}

.main .target .characters .character .card-text {
  padding: 0 16px;
}

.main .target .characters .character .card-text h3 {
  color: #56C4C5;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.main .target .characters .character .card-text p {
  margin-bottom: 24px;
}

.main .service {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main .service {
    margin-bottom: 60px;
  }
}

.main .service .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .main .service .service-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main .service .service-content .service-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  gap: 28px 47px;
}

@media (max-width: 992px) {
  .main .service .service-content .service-cards {
    width: 100%;
    gap: 24px;
  }
}

@media (max-width: 576px) {
  .main .service .service-content .service-cards {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .main .service .service-content .service-cards .order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main .service .service-content .service-cards .service-card {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  padding: 32px 32px 48px;
}

@media (max-width: 992px) {
  .main .service .service-content .service-cards .service-card {
    padding: 32px 41px 48px 24px;
  }
}

.main .service .service-content .service-cards .service-card .image-container {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 24px;
}

.main .service .service-content .service-cards .service-card .arrow {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon01.svg);
}

.main .service .service-content .service-cards .service-card .robot {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon02.svg);
}

.main .service .service-content .service-cards .service-card .message {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon03.svg);
}

.main .service .service-content .service-cards .service-card .group-message {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/icon04.svg);
}

.main .service .service-content .service-cards .service-card h3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .main .service .service-content .service-cards .service-card h3 {
    margin-bottom: 20px;
  }
}

.main .service .service-content .service-info {
  margin: auto;
}

@media (max-width: 992px) {
  .main .service .service-content .service-info {
    text-align: center;
    margin-bottom: 32px;
  }
}

.main .service .service-content .service-info h2 {
  margin-bottom: 16px;
}

.main .service .service-content .service-info p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .main .service .service-content .service-info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.main .testimonials h2 {
  text-align: center;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .testimonials h2 {
    margin-bottom: 32px;
  }
}

.main .testimonials .testimonial-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  line-height: 24px;
}

@media (max-width: 992px) {
  .main .testimonials .testimonial-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.main .testimonials .testimonial-cards .testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 992px) {
  .main .testimonials .testimonial-cards .testimonial-card + .testimonial-card {
    display: none;
  }
}

.main .testimonials .testimonial-cards .testimonial-card > img {
  position: absolute;
  top: 0;
  left: 32px;
  width: 80px;
  border-radius: 50%;
}

.main .testimonials .testimonial-cards .testimonial-card .card-info {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  background-color: #fff;
  margin-top: 56px;
  padding: 0px 32px;
}

@media (max-width: 992px) {
  .main .testimonials .testimonial-cards .testimonial-card .card-info {
    padding: 0 16px;
  }
}

.main .testimonials .testimonial-cards .testimonial-card .card-info .client-txt {
  margin: 48px 0 24px;
}

.main .testimonials .testimonial-cards .testimonial-card .card-info hr {
  color: #DDDDDD;
  margin-bottom: 24px;
}

.main .testimonials .testimonial-cards .testimonial-card .card-info .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .main .testimonials .testimonial-cards .testimonial-card .card-info .client {
    margin-bottom: 16px;
  }
}

.main .testimonials .testimonial-cards .testimonial-card .card-info .client .client-info p:first-of-type {
  font-weight: bold;
  margin-bottom: 8px;
}

.main .testimonials .testimonial-cards .testimonial-card .card-info .client .client-rating {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main .testimonials .testimonial-cards .testimonial-card .card-info .client .client-rating img {
  height: 16px;
}

.main .price {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  background-size: 360px;
  background-position-x: -280px;
  background-position-y: 50%;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main .price {
    margin-bottom: 60px;
  }
}

.main .price h2 {
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .price h2 {
    margin-bottom: 24px;
  }
}

.main .price .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .price .buttons {
    margin-bottom: 32px;
  }
}

.main .price .buttons button {
  background-color: #fff;
  color: #56C4C5;
}

.main .price .buttons button.active {
  background-color: #56C4C5;
  color: #fff;
}

.main .price .editions {
  max-width: 909px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #fff;
  margin: 0 auto;
  gap: 21px;
}

@media (max-width: 576px) {
  .main .price .editions {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main .price .editions .edition {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
}

.main .price .editions .edition h3 {
  margin: 10px 0 16px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

@media (max-width: 992px) {
  .main .price .editions .edition h3 {
    margin-top: 16px;
  }
}

.main .price .editions .edition .line {
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .line {
    margin-bottom: 24px;
  }
}

.main .price .editions .edition .edition-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom {
    padding: 0 16px;
  }
}

.main .price .editions .edition .edition-bottom .edition-info {
  text-align: center;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .edition-info {
    margin-bottom: 24px;
  }
}

.main .price .editions .edition .edition-bottom .calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .calculation {
    margin-bottom: 24px;
  }
}

.main .price .editions .edition .edition-bottom .calculation .calculation-corner {
  width: 45%;
  background-color: #F5F5F5;
  border-radius: 12px;
  padding: 24px 0;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .calculation .calculation-corner {
    padding: 16px 0;
  }
}

.main .price .editions .edition .edition-bottom .calculation .calculation-corner .calculation-result {
  color: #56C4C5;
}

.main .price .editions .edition .edition-bottom .calculation .calculation-corner .calculation-result span {
  font-size: 32px;
  line-height: 35px;
  margin-right: 8px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .calculation .calculation-corner .calculation-result span {
    font-size: 28px;
    line-height: 32px;
    margin-right: 4px;
  }
}

.main .price .editions .edition .edition-bottom .functions {
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .functions {
    margin-bottom: 24px;
  }
}

.main .price .editions .edition .edition-bottom .functions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.main .price .editions .edition .edition-bottom .functions li .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  margin-right: 13px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .functions li .check {
    margin-right: 16px;
  }
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom .functions li p {
    font-size: 14px;
    line-height: 20px;
  }
}

.main .price .editions .edition .edition-bottom button {
  margin: auto;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .main .price .editions .edition .edition-bottom button {
    margin-bottom: 24px;
  }
}

.main .question {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .main .question {
    margin-bottom: 60px;
  }
}

.main .question h2 {
  margin-bottom: 48px;
}

@media (max-width: 992px) {
  .main .question h2 {
    margin-bottom: 32px;
  }
}

.main .question .question-box {
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 10px #00000014;
          box-shadow: 0 2px 10px #00000014;
  max-width: 904px;
  padding: 16px 32px;
  margin: 0 auto 16px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .main .question .question-box {
    padding: 16px 16px;
  }
}

.main .question .question-box .question-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 992px) {
  .main .question .question-box .question-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.main .question .question-box .question-title h3 {
  font-weight: normal;
}

.main .question .question-box .question-title .minus {
  display: none;
}

.main .question .question-box .answer {
  display: none;
  color: #747474;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .main .question .question-box .answer {
    margin-bottom: 8px;
  }
}

.main .question .question-box.active .question-title {
  color: #56C4C5;
}

.main .question .question-box.active .minus {
  display: block;
}

.main .question .question-box.active .plus {
  display: none;
}

.footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}

@media (max-width: 576px) {
  .footer .footer-info {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
  }
}

.footer .footer-info p {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
  margin: 260px 0 48px;
}

@media (max-width: 576px) {
  .footer .footer-info p {
    font-size: 24px;
    line-height: 35px;
    margin: 293px 0 24px;
  }
}

.footer .footer-info button {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .footer .footer-info button {
    margin-bottom: 72px;
  }
}

.footer .bottom {
  padding: 16px 0;
  background-color: #F5F5F5;
  text-align: center;
}
/*# sourceMappingURL=all.css.map */